<!DOCTYPE html>
<html>
<head>
    <title></title>
     <style>
            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
            .string { color: green; }
            .number { color: darkorange; }
            .boolean { color: blue; }
            .null { color: magenta; }
            .key { color: red; }
        </style>

</head>
<body>
    <h3>接口标题</h3>
    <p>xxxxoooo</p>

    <h3>接口信息</h3>
    <p>xxxxoooo</p>

    <h3>接口URL</h3>
    <p>xxxxoooo</p>

    <h3>测试耗时</h3>
    <p>xxxxoooo</p>

    <h3>测试结果</h3>
    <p>xxxxoooo</p>

    <h3>传入参数</h3>
    <pre>xxxxoooo</pre>

    <h3>传入信息</h3>


    

</body>
<script type="text/javascript">

        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
        var obj = JSON.parse(document.getElementById('result').innerHTML);
        document.getElementById('result').innerHTML = syntaxHighlight(obj);
</script>
</html>